<div class="col-sm-3 hidden-xs" style="height:100%; background-color:darkGray;">
    <div>
        <h1 class="body-header"> Meme Driven Development </h1>
        <p> A blog about life, love and software </p>

        <h2> Top Memes </h2>
        <ul class="list-group">
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li> 
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
        </ul>

        <h2> Recent Memes </h2>
        <ul class="list-group">
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
        </ul>

        <h2> Random Memes </h2>
        <ul class="list-group">
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
            <li class="post-list"> <%= link_to side_view[0].title, post_path(side_view[0].id) %> </li>
        </ul>

        <a href="#"> See all memes </a>
    </div>
</div>