<div class="row">
    <%= render partial: "sideview", locals: { side_view: @side_view } %>
    <div class="col-sm-8 col-sm-offset-1 col-xs-12" style="height:100%">
        <div class="dusty short-meme">
            <h2><%= @post.title %> - <%= @post.subtitle %></h2>
            <p><%= @post.publish_date.strftime('%a %b %d %y') %></p>
            <%= @post.rendered_content %>
        </div>
    </div>
</div>