<!DOCTYPE html>
<html>
  <head>
    <title>Meme Driven Development</title>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom:0px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-no-turbolink href="http://jhray.com" class="navbar-brand"><div style="color:aqua; display:inline">JHRay</div><div style="color:mediumpurple; display:inline">.com</div></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li data-no-turbolink><a href="http://jhray.com/chilled">Chilled E-Sports</a></li>
                    <li><a href="http://jhray.com/memes">Meme Driven Development</a></li>
                    <li data-no-turbolink><a href="http://jhray.com/home/contact">Contact</a></li> 
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-bkg">
        <div class="container body-content index-body">
            <%= yield %>
        </div>
    </div>
  </body>
</html>
